<launch>
	<group ns="fmExtractors">
		    <node pkg="fmExtractors" type="lidar_row_detector" name="lidar_row_detector" output="screen"/> 
			<param name="subscriber_topic" value="/lrs/laser_msgs_1" />
	</group>
	
  <!-- <group ns="encoder_left">
    <node pkg="fmBSP" name="serial_node" type="serial_bytes_node" output="screen">
	<param name="pub_topic" value="S0_rx_topic" />
	<param name="sub_topic" value="S0_tx_topic" />
	<param name="device" value="/dev/ttyUSB1" />
	<param name="baudrate" value="38400" />
	<param name="bytes" value="2" />
    </node>
    <node pkg="fmSensors" name="encoder_node" type="absolute_encoder_node" output="screen">
	<param name="encoder_pub_topic" value="S0_tx_topic" />
	<param name="encoder_sub_topic" value="S0_rx_topic" />
	<param name="time" value="0.1" />	
    </node>
  </group> -->
  <!-- <group ns="kbhit">
    <node pkg="fmHMI" name="kbhit_node" type="kbhit_move" output="screen">
	<param name="topic" value="kbhit_topic" />
	<param name="twist_topic" value="/robocard/twist_topic" />
	<param name="max_speed" value="100" />
	<param name="min_speed" value="-100" />
	<param name="turn_constant" value="3" />
	<param name="ramp" value="20" />
    </node>
  </group> -->
  <!-- <group ns="robocard">
    <node pkg="fmPSP" name="ctrl_node" type="prrr_ctrl_node" output="screen">
	<param name="twist_topic" value="twist_topic" />
	<param name="sub_topic" value="ctrl_sub_topic" />
	<param name="pub_topic" value="ctrl_pub_topic" />
    </node>
    <node pkg="fmPSP" name="protocol_node" type="prrr_protocol_node" output="screen">
	<param name="data_rx" value="ctrl_pub_topic" />
	<param name="data_tx" value="ctrl_sub_topic" />
	<param name="slip_rx" value="slip_rx_topic" />
	<param name="slip_tx" value="slip_tx_topic" />
    </node>
    <node pkg="fmBSP" name="slip_node" type="slip_node">
	<param name="unwrapped_topic" value="slip_rx_topic" />
	<param name="wrap_topic" value="slip_tx_topic" />
	<param name="transmit_topic" value="serial_rxd_topic" />
	<param name="receive_topic" value="serial_tx_topic" />
    </node>
    <node pkg="fmBSP" name="serial_node" type="serial_bytes_node" output="screen">
	<param name="pub_topic" value="serial_rxd_topic" />
	<param name="sub_topic" value="serial_tx_topic" />
	<param name="device" value="/dev/ttyUSB0" />
	<param name="baudrate" value="38400" />
	<param name="bytes" value="7" />
    </node>

  </group> -->
</launch>
