<?xml version="1.0"?>
<launch>
	<group ns="kb">
		<node pkg="fmHMI" type="kbhit_move" name="kbhit" output="screen">
			<param name="twist_topic" value="/cmd_vel2" />
			<param name="raw_twist_topic" value="/cmd_vel" />
		</node>
	</group>
	<group ns="Hilde">
		<node pkg="fmPSP" type="hilde_ctrl_node" name="hilde_controller">
			<param name="twist_subscriber_topic" value="/cmd_vel" type="string"/>
			<param name="serial_subscriber_topic" value="slip_rx_topic" type="string"/>
			<param name="serial_publisher_topic" value="slip_tx_topic" type="string"/>
			<param name="max_velocity" value="0.75" type="double"/>
			<param name="encoder_circular_buffer_size" value="10" type="int"/>
			<param name="encoder_dt" value="0.02" type="double"/>
			<param name="base_link_length_to_rear_wheel" value="0.28" type="double"/>
			<param name="base_link_radius_to_wheels" value="0.185" type="double"/>
			<param name="dead_reckoning_linearization_turn_rate_threshold" value="0.0001" type="double"/>
		</node>
		<node pkg="fmBSP" name="slip_node" type="slip_node">
			<param name="unwrapped_topic" value="slip_rx_topic"/>
			<param name="wrap_topic" value="slip_tx_topic"/>
			<param name="transmit_topic" value="serial_rx_topic"/>
			<param name="receive_topic" value="serial_tx_topic"/>
		</node>
		<node pkg="fmBSP" name="serial_node" type="serial_bytes_node">
			<param name="pub_topic" value="serial_rx_topic"/>
			<param name="sub_topic" value="serial_tx_topic"/>
			<param name="device" value="/dev/ttyUSB0"/>
			<param name="baudrate" value="38400"/>
			<param name="bytes" value="7"/>
		</node>
	</group>
</launch>
